ProcesseurXML/files/choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="choice">
      <xsd:complexType>
         <xsd:choice>
            <xsd:element name="a" type="xsd:string" />
            <xsd:element name="b" type="xsd:string" />
            <xsd:element name="c" type="xsd:string" />
         </xsd:choice>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="test">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element ref="choice" maxOccurs="3" />
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
